.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

#map {
    display: grid;
    height: 700px;
    width: 100%;
}

#title {
    text-align: center;
}

#iPsearch {
display: flex;
justify-content: center;
}

#searchBox {
    width: 300px;
}

#iPinfo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 50px;
    color: black;
    border-style: solid;
    
}

#iPinfo p {
    border-right: 1px solid #ccc;
}