.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


body {
    background-color: rgb(230, 85, 95);
    color: white
}

#title {
    border-style: solid;
     border-radius: 10px;

}

#map {
    display: grid;
    height: 700px;
    width: 100%;
    border-radius: 10px;
}

#show {
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;


}

#title {
    text-align: center;
}

#iPsearch {
display: flex;
justify-content: center;
align-items: center;
    border-radius: 10px;

}

#searchBox {
    width: 300px;
}

#iPinfo{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 50px;
    color: black;
    border-style: solid;
    padding: 20px;
        border-radius: 10px;

    
    
}
#iPinfo:hover {
    background-color:rgb(255, 168, 168)
    
}

#iPinfo p {
    border-right: 1px solid #ccc;
}

#goPic {
    height: 40px;
}