
body {
font-family: monopoly;
border-style: solid;
padding: 10px;
}

#title {
    border-style: solid;
     border-radius: 10px;
    padding: 7px;

}
#searchBox:hover{
    background-color: rgb(182, 236, 248);
    color: #000000;
    font-weight: bold;
    transform: scale(1.2);

}

#map {
    display: grid;
    height: 700px;
    width: 100%;
    border-radius: 10px;
}

#show {
    border-style: solid;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    text-align: center;


}

#show:hover {
    transform: scale(1.5);
    background-color: rgb(182, 236, 248);
}
#searchForm {
    display: flex;
    align-items: center;
    gap: 1px;
}

#title {
    text-align: center;
    font-size: 80px;
}

#iPsearch {
display: flex;
justify-content: center;
align-items: center;
    border-radius: 10px;

}

#searchBox {
    width: 500px;
    height: 50px;
    border-radius: 5px;
    
}

#iPinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    color: black;
    border-style: solid;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    border-right: 2px solid #000000;
        transform: scale(1.3);


    
}
#iPinfo:hover {
    background-color:rgb(255, 168, 168)
    
}

#iPinfo p {
    border-right: 1px solid #ccc;
}

#goPic {
    height: 40px;
}

#mman {
    height: 300px;
}

#hero {
  background-image: url("images/593007ee3919fe0ee3614da9.png");
  background-size: 250px;
  background-repeat: no-repeat;
  background-position: right center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  border-radius: 10px;
  border: 3px solid #ccc;
}

#monopolyHeader {
  border: 3px solid black;
  border-radius: 12px;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  background: white;
  overflow: hidden;
}

#redBar {
  background-color: #d10606;
  height: 40px;
  width: 100%;
}


@media (max-width: 768px) {
    #map {
        height: 400px;
    }
}

@media (min-width: 768px) {
  #iPinfo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}


#searchShow {
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 20px;               
    margin: 20px 0;
}

#iPinfo,
#hero,
#monopolyHeader {
  border: none !important;
}

#newPageIP {
font-size: 50px;
text-align: center;
}

#h2New {
text-align: center;}

.cGroup {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 30px;
}
.column {
background-color: white;
padding: 25px;
border-radius: 8px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);


}
#font {
    font-size: 30px;
}
#gif {
padding: 50px;
height: 700px;}