.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

#map {
    display: flex;
    height: 900px;
    width: 100%;
}

#title {
    text-align: center;
}

#iPsearch {
display: flex;
justify-content: center;
}

#searchBox {
    width: 300px;
}

#iPinfo{
    display: flex;
    justify-content: center;
    gap: 50px;
}